### Liste Oluşturma

listeler [ ] ile tanımlanır.

In [1]:
#buradaki sayi değişkeninin veri tipi int'dir.
sayi = 1234
print(type(sayi))

<class 'int'>

In [2]:
#sayi2'nin veri tipi list'dir.
sayi2 = [1234]
print(type(sayi2))

<class 'list'>

In [3]:
liste = [1,2]
liste

[1, 2]

In [4]:
liste2 = [1234,12,15,20,30] 
print(type(liste2))

<class 'list'>

In [5]:
print(liste2)

[1234, 12, 15, 20, 30]

In [6]:
liste3 = [1,2,3,"Abdullah","Yusuf",'Ahmet',5.5]
print(type(liste3))
liste3

<class 'list'>

[1, 2, 3, 'Abdullah', 'Yusuf', 'Ahmet', 5.5]

In [7]:
bos_liste = []
bos_liste

[]

##### len() fonksiyonu ile listenin uzunluğunu öğrenme
aşağıdaki listenin içinde kaç adet eleman olduğunu bulalım.

In [9]:
liste4 = [1,2,3,4,5,10] #6 adet eleman var
len(liste4)

6

In [10]:
liste5 = ["ahmet","mehmet"] #2 adet eleman var.
len(liste5)

2

##### Temel Liste İşlemleri

In [11]:
#iki listeyi birleştirerek tek bir liste oluşturma
liste1 = [1,2,3]
liste2 = [6,7,8]
liste1 + liste2

[1, 2, 3, 6, 7, 8]

In [12]:
liste3 = [1,2,3]
liste4 = ["Abdullah"]
liste5 = liste3 + liste4
liste5

[1, 2, 3, 'Abdullah']

In [12]:
liste5[3] = "Yusuf"
liste5

[1, 2, 3, 'Yusuf']

##### append() metodu

append() metodu ile listeye yeni eleman eklenir.

In [14]:
liste6 = [1,2,3,4,5]
liste6

[1, 2, 3, 4, 5]

In [15]:
liste6.append(10)
liste6

[1, 2, 3, 4, 5, 10]

In [16]:
liste6.append("Yeni eleman")
liste6

[1, 2, 3, 4, 5, 10, 'Yeni eleman']

##### pop() metodu

pop() metodu ile listeden eleman çıkarılır.
içerisine herhangi bir değer verilmezse listenin son elemanını çıkarır.

İçerisine bir index verilirse, verilen index numarasındaki elemanı listeden çıkarır

In [17]:
liste7 = [10,20,30,40,50,60]
liste7.pop() #pop içerisine bir değer verilmezse, listemizdeki son elemanı çıkarır.

60

In [18]:
liste7.pop(0) #0. elemanı listeden çıkar.

10

In [19]:
liste7

[20, 30, 40, 50]

##### sort() metodu
sort() metodu ile liste varsayılan olarak küçükten büyüğe doğru sıralama yapılır.

sort(reverse=True) işlemi ile liste büyükten küçüğe doğru sıralama yapılır.

In [20]:
liste8 = [1,2,50,30,80,132,12,3,5]
liste8.sort() #listemizi küçükten büyüğe doğru sıralar(sort içerisindek varsayılan olarak reverse=False yazıyor.)
liste8

[1, 2, 3, 5, 12, 30, 50, 80, 132]

In [21]:
liste8.sort(reverse=True) #listeyi büyükten küçüğü doğru sıralar.
liste8

[132, 80, 50, 30, 12, 5, 3, 2, 1]

veri türü string olduğunda Alfabetik olarak küçükten büyüğe doğru sıralama yapılır.

In [24]:
liste9 = ["Ordu","Giresun","Trabzon","Rize","Artvin"]
liste9

['Ordu', 'Giresun', 'Trabzon', 'Rize', 'Artvin']

In [25]:
liste9.sort()
liste9

['Artvin', 'Giresun', 'Ordu', 'Rize', 'Trabzon']

In [26]:
liste9.sort(reverse=True)
liste9

['Trabzon', 'Rize', 'Ordu', 'Giresun', 'Artvin']

##### min() ve max() fonksiyonları
min() => liste içindeki en küçük sayıyı verir.

max() => liste içindeki en büyük sayıyı verir.

In [27]:
liste10 = [10,20,5,2,3,50]

In [28]:
min(liste10)

2

In [29]:
max(liste10)

50

##### clear()
clear() metodu ile liste içindeki tüm elemanlar silinir.

In [31]:
liste11 = [5,10,15,20,25]
print(liste11)

[5, 10, 15, 20, 25]

In [32]:
liste11.clear()
print(liste11)

[]

##### count() metodu

count() metodu, içerisine aldığı argümanın liste içerisinde kaç adet olduğu bilgisini verir.

In [34]:
liste12 = [2,2,2,2,3,4,4,5]
print(liste12.count(4))  #liste12 içerisinde 4 kaç adet var

2

In [35]:
 print(liste12.count(2)) #liste12 içerisinde 2 elemanı kaç adet var

4

##### insert() metodu

*list.insert(yer,eleman)*

liste'deki belirlenen index'e yeni bir eleman eklemek için kullanılmaktadır. 

append() metodunda yeni eleman listenin sonuna ekleniyordu. inster() ile istenilen yere eklenebiliyor.

In [40]:
liste13 = [2,2,2,2,3,4,4,5]
liste13.insert(2,"Yeni Eleman")  #2. index'e "Yeni Eleman" elemanını ekle
print(liste13)

[2, 2, 'Yeni Eleman', 2, 2, 3, 4, 4, 5]

##### extends() metodu

*list.extends(iterable)*

iki listeyi birleştirmek içini kullanılmaktadır.

extends işleminde listenin referans adresi değişmez.

In [38]:
meyveler = ["Elma","Armut","Kiraz"]
arabalar = ["BMW","Mercedes","Audi"]
meyveler.extend(arabalar)
print(meyveler)

['Elma', 'Armut', 'Kiraz', 'BMW', 'Mercedes', 'Audi']

##### Listeleri toplama işlemi

Toplama işleminde listenin referans adresi değişir.

In [41]:
liste14 = [10,20,30]
liste15 = [100,200,300]
liste16 = liste14 + liste15 #liste14 ve liste15 tek bir listede toplandı.
print(liste16)

[10, 20, 30, 100, 200, 300]

###### Bir string'i liste dönüştürme işlemi

In [42]:
a = "Selam" #a adında bir string var
liste17 = list(a)  #a string'ini list türüne dönüştürür.

In [43]:
a

'Selam'

In [44]:
liste17

['S', 'e', 'l', 'a', 'm']

In [45]:
liste17[1]  # listedeki index numarası 1 olan elemanını yazdır.

'e'

In [46]:
liste17[3]  # listedeki index numarası 1 olan elemanını yazdır.

'a'

In [48]:
liste17[:4] # 4.index'e kadar olan elemanları listele

['S', 'e', 'l', 'a']

##### İç İçe Listeler

In [49]:
liste18 = [1,2,3]
liste19 = [4,5,6]
yeni_liste = [liste18,liste19] #iki listeyi yeni bir listenin içerisine aktarıyoruz.

In [50]:
yeni_liste

[[1, 2, 3], [4, 5, 6]]

In [51]:
yeni_liste[0][0] # yeni liste içerisinde iki adet liste bulunmaktadır. Bu listelerden index'i 0 olan listenin 0. elemanını yazdır.

1

In [52]:
yeni_liste[1][0] #1. listenin 0. elemanı

4

In [53]:
yeni_liste[0][2] #0. listenin 2. elemanı

3

In [54]:
yeni_liste[2][0] #2. liste olmadığı için hata verir.

IndexError: list index out of range